:root {
  --primary-blue: hsl(246, 80%, 60%);
  /* (work) */
  --bg-work: hsl(15, 100%, 70%);
  /*  (play) */
  --bg-play: hsl(195, 74%, 62%);
  /* study */
  --bg-study: hsl(348, 100%, 68%);
  /*  (exercise) */
  --bg-exercise: hsl(145, 58%, 55%);
  /* (social) */
  --bg-social: hsl(264, 64%, 52%);
  /*  (self care) */
  --bg-self-care: hsl(43, 84%, 65%);

  /* Neutral */
  --neutral-very-dark-blue: hsl(226, 43%, 10%);
  --neutral-dark-blue: hsl(235, 46%, 20%);
  --neutral-desaturated-blue: hsl(235, 45%, 61%);
  --neutral-pale-blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#app {
  background-color: var(--neutral-very-dark-blue);
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  --radius: 16px;
  width: 90%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 20px;
}

.sidebar {
  background-color: var(--neutral-dark-blue);
  border-radius: var(--radius);
  overflow: hidden;
}

.si {
  --direction: row;
  --aligning: center;
  --spacing: 1rem;

  padding: 32px;
  display: flex;
  flex-direction: var(--direction);
  align-items: var(--aligning);
  gap: var(--spacing);
  background-color: var(--primary-blue);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.si__avatar {
  display: grid;
  place-content: center;
}

.si__avatar img {
  width: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid white;
}

.si__user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.si__user p {
  color: var(--neutral-pale-blue);
  font-size: 16px;
}

.si__user h1 {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.sc {
  display: flex;
  justify-content: space-between;
}

.sc__button {
  padding: 1.5rem 2rem;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: var(--neutral-pale-blue);
  transition: 250ms ease-in color;
  cursor: pointer;
  text-align: left;
}

.sc__button:nth-child(2) {
  text-align: center;
}

.sc__button:last-child {
  text-align: right;
}

.sc__button:hover,
.sc__button:focus {
  color: white;
}

.sc__button:focus {
  outline-color: white;
  outline-width: 1px;
}

.sc__button.sc__button--active {
  color: white;
}

/* time tracker */
.tt__container {
  display: grid;
  gap: 1.25rem;
}

.tt {
  border-radius: var(--radius);
  overflow: hidden;
}

.tt__inner {
  margin-top: 2.5rem;
  background-color: var(--neutral-dark-blue);
  padding: 2rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  gap: 0.5rem;
  overflow: hidden;
  transition: all ease-in-out 200ms;
}

.tt:hover .tt__inner {
  margin-top: 0;
  padding-top: 4.5rem;
}

.tt__inner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tt__title {
  font-size: 1.25rem;
  color: white;
  text-transform: capitalize;
  font-weight: 400;
}

.tt__hour {
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.tt__time {
  color: var(--neutral-pale-blue);
  font-size: 0.875rem;
  text-transform: capitalize;
}

.tt--work,
.tt--play,
.tt--study,
.tt--exercise,
.tt--social,
.tt--self-care {
  background-position: right 18px top -9px;
  background-repeat: no-repeat;
}

.tt--work {
  background-color: var(--bg-work);
  background-image: url("/images/icon-work.svg");
}
.tt--play {
  background-color: var(--bg-play);
  background-image: url("/images/icon-play.svg");
}
.tt--study {
  background-color: var(--bg-study);
  background-image: url("/images/icon-study.svg");
}
.tt--exercise {
  background-color: var(--bg-exercise);
  background-image: url("/images/icon-exercise.svg");
}
.tt--social {
  background-color: var(--bg-social);
  background-image: url("/images/icon-social.svg");
}
.tt--self-care {
  background-color: var(--bg-self-care);
  background-image: url("/images/icon-self-care.svg");
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tt__container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .si {
    --direction: column;
    --aligning: start;
    --spacing: 2rem;

    justify-content: center;
    height: 60%;
  }

  .si__user h1 {
    font-size: 2rem;
  }

  .sc {
    padding: 2rem 0;
    flex-direction: column;
    height: 40%;
    justify-content: start;
  }

  .sc__button:first-child,
  .sc__button:nth-child(2),
  .sc__button:last-child {
    text-align: left;
  }

  .sc__button {
    padding: 0.75rem 2rem;
  }

  .tt__inner {
    gap: 1.25rem;
  }

  .tt__inner > div:last-child {
    gap: 0.25rem;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .tt__hour {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .si {
    justify-content: start;
    height: 65%;
  }

  .sc {
    padding: 0.5rem 0;
    height: 35%;
    justify-content: center;
  }

  .tt__container {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .tt__inner > div:last-child {
    gap: 0.5rem;
  }

  .tt__hour {
    font-size: 3rem;
  }
}
